body{
    background-color: white;
    margin-top: 50px;
    font-size: 15px;
    
}
h2{
    padding-left: 19px;
    margin-top: 25px;
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;

}
img{
    margin-top: 25px;
    padding-left: 19px;
}
p{
    padding-left: 19px;
    margin-top: 25px;
    line-height:2;
    color: hsla(0, 0%, 100%, 0.75);
    
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

}

.column1{
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

 
   
}
.column2{
    background: hsl(184, 100%, 22%);
   
}
.column3{
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    
}
.cards{
    width: 250px;
    
}
.space{
    padding-left: 19px;
}
.btn{
    background: white;
    color: hsl(31, 77%, 52%);
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.btn2{
    color: hsl(184, 100%, 22%); 
}
.btn3{
    color:hsl(179, 100%, 13%);
}
.d-flex{
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 768px)
{
    .d-flex
    {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .column1{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .column3{
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

}